.b1 {
    width: 100%;
}

hr {
    height: 2px;
    background-color: whitesmoke;
}
.buttonOrder {
    background-color: rgb(233,184,25);
    border-radius: 5px;
    color: rgb(21,13,97);
}

.buttonOrder1 {
    background-color: rgb(21,13,97);
    border-radius: 5px;
    color: rgb(255,255,255);
}

.buttonList {
    background-color: rgb(233,184,25);
    border-radius: 5px;
}

.buttonList:hover {
    background-color: rgb(245, 222, 149);
}